.section-image {
	max-width: 60%;
	/* margin: 0 auto; */
	float: left;
	display: block;
}

body {
	font-family: "Averia Serif Libre", serif !important;
	color: #000000;
}

ul {
	list-style-type: disc !important;
}

.home-big-cloud {
	max-width: 20rem;
	margin-left: -4rem;
}

.title {
	color: #000000;
}

.pencil {
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
	  max-width: 60%;
}