body {
  font-family: "Averia Serif Libre", sans-serif;
  background-color: #fff;
}

.clouds {
	width: 48%;
	margin: -9% 0 -14% 0;
	float: right;
}

.main-image-container{
	width: 100%;
	display: block;
}

.main-image{
		width: 75%;
    margin: 0 auto;
    display: block;
}